<form>

  <span class="btn" type="button"
  routerLink="/login">
    <i class="mdi mdi-arrow-left me-2"></i>
    <span>Go back to login</span>
  </span>

  <div class="d-flex align-items-center mb-4 pb-1">
    <i class="mdi mdi-email mdi-48px me-2"></i>
    <span class="h1 fw-bold mb-0">Confirm Your Email</span>
  </div>

  <div class="form-outline mb-1">
    <input class="form-control form-control-lg" placeholder="Enter your root email" />
  </div>

  <div class="pt-1 mb-4">
    <button type="button" class="btn sendOtpBtn btn-outline-secondary btn-lg w-50">Sent OTP</button>
  </div>

  <div class="form-outline mb-4">
    <input class="form-control form-control-lg" placeholder="Enter your OTP" />
  </div>

  <div class="pt-1">
    <button type="button" class="btn btn-dark btn-lg btn-block fw-bold w-100" >Confirm</button>
  </div>
</form>
