input{
  font-size: medium;
}

.sendOtpBtn{
  border-color: var(--primary-color) !important;
  color: var(--primary-color);
}

button{
  font-weight: bold;
  font-size: medium;
}

button:hover{
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}

