<section class="vh-100 login-section fixed-top">
  <div class="container py-5 h-100">
    <div class="row d-flex flex-column justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card login-card">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="{{cardImage}}"
                   alt="HeroImage" class="img-fluid login-image" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">

              <div class="card-body p-4 p-lg-5 text-black">
                <ng-content></ng-content>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
